<div md-layout="row">
  <md-content md-layout="row" flex offset="40">
    <md-text-float label="Car Number" ng-model="carNum"></md-text-float>
    <md-button class="md-raised md-primary" ng-click="searchCar(carNum)" aria-label="search">Search</md-button>
  </md-content>
  <div flex>
      <div >
        <ui-gmap-google-map center="map.center" zoom="map.zoom" control="map.control">
          <ui-gmap-marker ng-repeat="car in cars" idKey="car._id" coords="car.camId.coordinate" options="{labelContent:moment(car.date).format('L HH:mm'), labelAnchor:'70 0', labelClass:'mapLabel'}">
          </ui-gmap-marker>
        </ui-gmap-google-map></div>
  </div>
  <div flex style="margin-top:20px">
    <table class="table table-bordered">
      <thead>
        <td>
          Date
        </td>
        <td>
          Location
        </td>
        <td>
          Coordinates
        </td>
      </thead>
      <tbody>
        <tr ng-repeat="car in cars">
          <td>{{car.date | date }}</td>
          <td>{{car.camId.location}}</td>
          <td>Lat: {{car.camId.coordinate.latitude}}<br> Lon: {{car.camId.coordinate.longitude}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
