<div md-layout="row">
  <md-content md-layout="row" flex offset="25">
    <button type="button" class="btn btn-primary" ng-click="searchCar(carNum)">חיפוש</button>
    <input type="date" ng-model="maxDate" class="form-control" style="width:auto"/><label>עד</label>
    <input id="m" type="date" ng-model="minDate" class="form-control" style="width:auto"/><label>מ</label>
    <md-text-float class="textBox" label="מספר רכב"  ng-model="carNum"></md-text-float>
  </md-content>
  <div flex style="margin-top:20px">
    <md-text-float flex offset="40" label="סינון" ng-model="field"></md-text-float>
    <div flex="50" offset="25">
      <table class="table table-bordered table-striped" style="text-align: right">
        <thead>
        <td>
          קואורדינטות
        </td>
          <td>
            מיקום
          </td>
          <td>
            תאריך
          </td>
        </thead>
        <tbody>
          <tr ng-repeat="car in cars | filter:field">
            <td>Lat: {{car.camId.coordinate.latitude}}<br> Lon: {{car.camId.coordinate.longitude}}</td>
            <td>{{car.camId.location }}</td>
            <td>{{car.date | date:'dd-MM-yyyy HH:mm:ss'  }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
