<div layout="column" md-theme="indigo">
  <div flex>
    <md-tabs selected="selectedIndex">
      <md-tab id="mapTab" aria-controls="map-content" label="Map"> </md-tab>
      <md-tab id="detailTab" aria-controls="detail-content" label="Details"> </md-tab>
    </md-tabs>
    <div ng-switch on="selectedIndex" class="tabpanel-container">
      <div id="map-content" role="tabpanel" aria-labelledby="mapTab" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()">
        <ui-gmap-google-map center='map.center' zoom='map.zoom' control="map.control">
          <ui-gmap-marker idKey="selectedAlert.alertPathSource.location" coords="selectedAlert.alertPathSource.coordinate">
          </ui-gmap-marker>
          <ui-gmap-marker idKey="selectedAlert.alertPathDest.location" coords="selectedAlert.alertPathDest.coordinate">
          </ui-gmap-marker>
        </ui-gmap-google-map>
      </div>
      <div id="detail-content" role="tabpanel" aria-labelledby="detailTab" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()">
        <md-content class="md-padding" style="height: 600px;">
          <h1>Car Number: {{ selectedAlert.carId }}</h1>
          <h2>Date: {{ selectedAlert.date | date }}</h2>
          <h2>From: {{ selectedAlert.alertPathSource.location }}</h2>
          <h2>To: {{ selectedAlert.alertPathDest.location }}</h2>
          <h2>Road Percentage: {{ selectedAlert.percentage }}%</h2>
        </md-content>
      </div>
    </div ng-switch>
  </div>
  <div flex="20">
    <div>
    <md-toolbar md-theme="red">
      <h3 class="md-toolbar-tools">
        <span>Alerts</span>
      </h3>
    </md-toolbar>
    </div>
    <div id="alerts">
        <md-button ng-repeat="alert in alerts" md-swipe-left="deleteAlert(alert)" class="md-whiteframe-z1" aria-label="alert" ng-click="selectAlert(alert)" layout ng-hide="hide">
          <div class="md-tile-content">
            <div layout="column">
              <div flex>
                <div flex>
                  <h1>{{alert.carId}}</h3>
                </div>
                <div flex>
                  <h3>
                    {{alert.date | date}}
                  </h3>
                </div>
              </div>
              <div layout-align="end end">
                <md-button class="md-fab md-warn small-button" ng-click="deleteAlert(alert)" aria-label="dismiss">
                  X
                </md-button>
              </div>
            </div>
          </div>
        </md-button>
    </div>
  </div>
</div>
